backend/.env
frontend/.env
widget/.env

frontend/node_modules
frontend/*~
frontend/*#
frontend/.DS_STORE
frontend/.netbeans
frontend/nbproject
frontend/.idea
frontend/*.iml
frontend/.vscode
frontend/.node_history
frontend/dump.rdb

frontend/npm-debug.log
frontend/lib-cov
frontend/*.seed
frontend/*.log
frontend/*.out
frontend/*.pid

widget/node_modules
widget/*~
widget/*#
widget/.DS_STORE
widget/.netbeans
widget/nbproject
widget/.idea
widget/*.iml
widget/.vscode
widget/.node_history
widget/dump.rdb

widget/npm-debug.log
widget/lib-cov
widget/*.seed
widget/*.log
widget/*.out
widget/*.pid
